@charset "utf-8";

/* 한글폰트  */
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css");
/* 나눔 스퀘어 네오
font-family: 'NanumSquareNeoLight';
font-family: 'NanumSquareNeo';
font-family: 'NanumSquareNeoBold';
font-family: 'NanumSquareNeoExtraBold';
font-family: 'NanumSquareNeoHeavy';
*/
@import url("https://hangeul.pstatic.net/hangeul_static/css/NanumMuGungHwa.css"); 
/* 나눔 스퀘어 무궁화
  font-family: 'NanumMuGungHwa';
*/
 