@charset "utf-8";
@import url('fonts.css');
body {
    font-size: 16px;
    font-family: 'NanumSquareNeo', 'NanumSquareNeoLight', 'NanumSquareNeoBold';
    color: #111;
}
@media screen and (max-width: 767px) {
    #wrap {
        padding: 5vw;
        position: relative;
    }
    h2 {
        text-align: center;
        font-family: 'NanumSquareNeoBold';
        margin-bottom: 15px;
    }
    #back {
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 40px; right: 20px;
        font-size: 15px;
    }
    .inner {
        text-align: center;
    }
    .signIn_box {
        width: 100%;
        text-align: left;
    }
    .signIn_box div {
        margin-bottom: 30px;
    }
    .signIn_box div input {
        width: 100%;
        height: 30px;
        border-radius: 10px;
        border: 1px solid #f6e056;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .signin_box div label {
        font-size: 15px;
    } 

    .btn #signInButton {
        background: #f6e056;
        padding: 8px 15px;
        border-radius: 10px;
        color: #fff;
        font-size: 14px;
        border: none;
        cursor: pointer;
    }
}